repos:
  - repo: https://github.com/dycw/pre-commit-hooks
    rev: 0.14.80
    hooks:
      - id: add-hooks
        args:
          - --ci-github
          - --description=Pre-commit hooks
          - --prettier
          - --python
          - --python-package-name-external=dycw-pre-commit-hooks
          - --python-package-name-internal=pre-commit-hooks
          - --repo-name=pre-commit-hooks
          - --shell
          - --toml
        priority: 10
      - id: check-versions-consistent
        priority: 20
      - id: setup-ci-push
        priority: 10
      - id: pin-cli-requirements
        priority: 10
      - id: setup-direnv
        args:
          - --python
          - --python-version=3.12
        priority: 10
      - id: setup-pyproject
        args:
          - --python-version=3.12
          - --description=Pre-commit hooks
          - --python-package-name-external=dycw-pre-commit-hooks
          - --python-package-name-internal=pre-commit-hooks
        priority: 10
      - id: setup-ruff
        args:
          - --python-version=3.12
        priority: 10
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: npx prettier --write
        language: unsupported
        types_or:
          - markdown
          - yaml
        priority: 10
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: master
    hooks:
      - id: shellcheck
        priority: 20
  - repo: builtin
    hooks:
      - id: check-json
        priority: 20
      - id: check-json5
        priority: 20
      - id: check-merge-conflict
        priority: 20
      - id: check-symlinks
        priority: 20
      - id: check-toml
        priority: 20
      - id: check-xml
        priority: 20
      - id: check-yaml
        priority: 20
      - id: detect-private-key
        priority: 20
      - id: end-of-file-fixer
        priority: 10
      - id: fix-byte-order-marker
        priority: 10
      - id: mixed-line-ending
        args:
          - --fix=lf
        priority: 10
      - id: no-commit-to-branch
        priority: 20
      - id: trailing-whitespace
        priority: 10
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: master
    hooks:
      - id: check-illegal-windows-names
        priority: 20
      - id: destroyed-symlinks
        priority: 20
      - id: pretty-format-json
        args:
          - --autofix
        priority: 10
