repos:
  - repo: https://github.com/dycw/actions
    rev: 0.15.7
    hooks:
      - id: conformalize-repo
        args:
          - --ci--pull-request--pyright
          - --ci--pull-request--pytest--all-versions
          - --ci--pull-request--pytest--macos
          - --ci--pull-request--pytest--ubuntu
          - --ci--pull-request--ruff
          - --ci--push--publish--github
          - --ci--push--tag
          - --description=Library of actions
          - --envrc
          - --envrc--uv
          - --gitignore
          - --package-name=dycw-actions
          - --pre-commit--prettier
          - --pre-commit--python
          - --pre-commit--ruff
          - --pre-commit--shell
          - --pre-commit--taplo
          - --pre-commit--uv
          - --pyproject
          - --pyright
          - --pytest
          - --python-package-name=actions
          - --python-version=3.12
          - --readme
          - --repo-name=actions
          - --ruff
        priority: 10
      - id: format-requirements
        priority: 10
      - id: replace-sequence-strs
        priority: 10
      - id: touch-empty-py
        priority: 10
      - id: touch-py-typed
        priority: 10
      - id: update-requirements
        priority: 10
  - repo: builtin
    hooks:
      - id: check-added-large-files
        priority: 20
      - id: check-case-conflict
        priority: 20
      - id: check-executables-have-shebangs
        priority: 20
      - id: check-json
        priority: 20
      - id: check-json5
        priority: 20
      - id: check-merge-conflict
        priority: 20
      - id: check-symlinks
        priority: 20
      - id: check-toml
        priority: 20
      - id: check-xml
        priority: 20
      - id: check-yaml
        priority: 20
      - id: detect-private-key
        priority: 20
      - id: end-of-file-fixer
        priority: 10
      - id: fix-byte-order-marker
        priority: 10
      - id: mixed-line-ending
        args:
          - --fix=lf
        priority: 10
      - id: no-commit-to-branch
        priority: 20
      - id: trailing-whitespace
        priority: 10
  - repo: https://github.com/dycw/pre-commit-hooks
    rev: master
    hooks:
      - id: add-ruff-hooks
        priority: 10
