repos:
  - repo: builtin
    hooks:
      - id: check-added-large-files
        priority: 20
      - id: check-case-conflict
        priority: 20
      - id: check-executables-have-shebangs
        priority: 20
      - id: check-json
        priority: 20
      - id: check-json5
        priority: 20
      - id: check-merge-conflict
        priority: 20
      - id: check-symlinks
        priority: 20
      - id: check-toml
        priority: 20
      - id: check-xml
        priority: 20
      - id: check-yaml
        priority: 20
      - id: detect-private-key
        priority: 20
      - id: end-of-file-fixer
        priority: 10
      - id: fix-byte-order-marker
        priority: 10
      - id: mixed-line-ending
        args:
          - --fix=lf
        priority: 10
      - id: no-commit-to-branch
        priority: 20
      - id: trailing-whitespace
        priority: 10
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff-check
        args:
          - --fix
        priority: 20
      - id: ruff-format
        priority: 10
  - repo: https://github.com/dycw/pre-commit-hooks
    rev: 0.14.31
    hooks:
      - id: add-future-import-annotations
        priority: 10
      - id: add-hooks
        args:
          - --ci
          - --python
          - --python-version=3.12
        priority: 10
      - id: check-versions-consistent
        priority: 20
      - id: format-pre-commit-config
        priority: 20
      - id: format-requirements
        priority: 10
      - id: replace-sequence-str
        priority: 10
      - id: run-prek-autoupdate
        priority: 10
      - id: run-version-bump
        priority: 10
      - id: setup-git
        priority: 10
      - id: setup-pyright
        args:
          - --python-version=3.12
        priority: 10
      - id: setup-ruff
        args:
          - --python-version=3.12
        priority: 10
      - id: update-ci-extensions
        priority: 10
      - id: update-requirements
        priority: 10
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-illegal-windows-names
        priority: 20
      - id: destroyed-symlinks
        priority: 20
      - id: pretty-format-json
        args:
          - --autofix
        priority: 10
